// brand colors
$brand-blue: #29337B;
$brand-pink: #F2947B;
$brand-grey: gainsboro;
$brand-grey-navbar: rgba(220, 220, 220, 0.95);
$brand-grey-footer: #676767;

// variables
$pb-custom-navbar-height: 92px;

// fonts
$icon-font-path:               "/build/fonts/";
$fa-font-path:                 "~@fortawesome/fontawesome-free/webfonts";
$font-family-sans-serif:       "Ubuntu", sans-serif !default;
$enable-responsive-font-sizes: true;

// bootstrap settings
$primary:                   $brand-blue;
$secondary:                 $brand-pink;
$navbar-height:             $pb-custom-navbar-height;
$brand-primary-color:       $brand-pink;
$brand-secondary-color:     $brand-blue;
$link-color:                $brand-secondary-color;
$navbar-light-hover-color:  $brand-primary-color;
$navbar-light-active-color: $brand-primary-color;
$navbar-light-color:        $brand-secondary-color;

body.my-body {
  margin-top: $pb-custom-navbar-height;
}

nav.custom-navbar-bg-secondary {
  background-color: $brand-grey-navbar !important;
}

footer.custom-footer-bg-dark {
  background-color: $brand-grey-footer !important;
}

#home, #equipo {
  background-image: linear-gradient(180deg, #8075ae 0, #595495 25%, #29337b 50%, #001762 75%, #00004c 100%);
  background-size: 100% 600%;
  animation: 10s linear 0s infinite alternate both running bg-pan-bottom;
}

#gestion, #contacto {
  background-image: linear-gradient(0deg, #ffd4a5 0, #ffcaa0 12.5%, #ffbd97 25%, #ffab8a 37.5%, #f2947a 50%, #e57d6c 62.5%, #da6b64 75%, #d35d61 87.5%, #ce5363 100%);
  background-size: 100% 600%;
  animation: 10s linear 0s infinite alternate both running bg-pan-bottom;
}

.bg-pan-bottom {
  -webkit-animation: bg-pan-bottom 10s linear infinite alternate both;
  animation: bg-pan-bottom 10s linear infinite alternate both;
}

@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
