// brand colors
$brand-blue: #29337B;
$brand-pink: #F2947B;
$brand-grey: #C4DB72;

// variables
$pb-custom-navbar-height: 77px;

// fonts
$icon-font-path:               "/build/fonts/";
$fa-font-path:                 "~@fortawesome/fontawesome-free/webfonts";
$font-family-sans-serif:       'Ubuntu', sans-serif !default;
$enable-responsive-font-sizes: true;

// bootstrap settings
$primary:                   $brand-blue;
$secondary:                 $brand-pink;
$navbar-height:             $pb-custom-navbar-height;
$brand-primary-color:       $brand-pink;
$brand-secondary-color:     $brand-blue;
$link-color:                $brand-secondary-color;
$navbar-light-hover-color:  $brand-secondary-color;
$navbar-light-active-color: $brand-primary-color;

body.my-body {
  margin-top: $pb-custom-navbar-height;
}

#home {
  //background-image: -webkit-gradient(linear, left bottom, left top, from(#cc6aa5), color-stop(#3e91cc), to(#2dcca7));
  //background-image: linear-gradient(0deg, #cc6aa5, #3e91cc, #2dcca7);
  background-image: linear-gradient(180deg, #8075ae 0, #595495 25%, #29337b 50%, #001762 75%, #00004c 100%);
  background-size: 100% 600%;
  animation: 10s linear 0s infinite alternate both running bg-pan-bottom;
}

.bg-pan-bottom {
  -webkit-animation: bg-pan-bottom 10s linear infinite alternate both;
  animation: bg-pan-bottom 10s linear infinite alternate both;
}

@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
