// colors
$green-dark:  #7ABF5B;
$green-pure:  #C4DB72;
$green:       #BADBA5;
$green-light: #E5EEC2;

// variables
$pb-custom-navbar-height: 90px;
$navbar-height: $pb-custom-navbar-height;

// fonts
$icon-font-path: "/build/fonts/";
$fa-font-path:   "~@fortawesome/fontawesome-free/webfonts";
$enable-responsive-font-sizes: true;

// colors
$brand-primary-color: $green-dark;
$brand-secondary-color: $green-light;
$link-color: $brand-primary-color;
$navbar-light-hover-color: $brand-secondary-color;
$navbar-light-active-color: $brand-primary-color;

// imports
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap/scss/bootstrap";